<footer>
    <div class="fo-info">
        <div class="fo-icons">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy Airbnb</div>
        <div class="fo-links">
            <a href="/privacy">privacy</a>
            <a href="terms">terms</a>
        </div>
    </div>
</footer>